* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilo general*/
body {
  font-family: "Montserrat", sans-serif;
}

/* estilos de header*/
header {
  display: flex;
  flex-direction: column;
  background-color: #f4a710;
  align-items: center;
}

header .navbar {
  padding-bottom: 5px;
}

header .navbar .container-fluid {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

header nav div .logo img {
  width: 120px;
  height: 120px;
}

header nav div .colorFondo {
  text-align: center;
}

header nav div div ul li {
  font-size: 1.5rem;
}

/* estilos de main*/
main {
  background-color: #d7d8d8;
}

footer {
  height: 30px;
  background-color: #f4a710;
  text-align: center;
  padding-top: 5px;
  font-size: 12px;
}

/*estilos de tablet para el header*/
@media screen and (min-width: 760px) {
  header {
    display: flex;
    flex-direction: column;
    background-color: #f4a710;
    align-items: center;
  }
  header .navbar {
    padding-bottom: 5px;
  }
  header .navbar .container-fluid {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  header nav div .logo img {
    width: 120px;
    height: 120px;
  }
  header nav div .colorFondo {
    text-align: center;
  }
  header .navbar .container-fluid .colorFondo ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: 10px auto;
    background-color: #f4a710;
    width: 100vh;
    justify-content: center;
  }
  header nav div div ul li {
    font-size: 1.5rem;
  }
}
/*estilos de desktop para el header*/
@media screen and (min-width: 1024px) {
  header .navbar .container-fluid {
    flex-direction: row;
    padding-right: 1rem;
  }
  header .navbar .container-fluid .colorFondo {
    background-color: #f4a710;
    text-align: center;
    border: none;
  }
}
#index {
  display: flex;
  flex-direction: column;
}

#index .texto {
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}

#index .texto h1 {
  font-size: 1.5rem;
  text-align: center;
}

#index .img img {
  width: 100%;
  height: 380px;
  border-radius: 8px;
}

#index .newPromo .textoPromo {
  text-align: center;
  padding-top: 10px;
}

#index .newPromo .textoPromo h2 {
  font-size: 1.5rem;
}

#index .newPromo .promo .promo1 .textoPromo, #index .newPromo .promo .promo2 .textoPromo, #index .newPromo .promo .promo3 .textoPromo {
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  background-color: #f4a710;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

#index .newPromo .promo .promo1 .textoPromo p, #index .newPromo .promo .promo2 .textoPromo p, #index .newPromo .promo .promo3 .textoPromo p {
  font-size: 1.25rem;
}

#index .newPromo .carousel div img {
  width: 100vw;
  height: 200px;
  border-radius: 8px;
}

#index .newPromo .carousel .carousel-inner .carousel-item {
  transition: 0.8s;
}

/* mq tablet*/
@media screen and (min-width: 767px) and (max-width: 1023px) {
  header {
    height: 20vh;
  }
  #index .texto {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  #index .texto h1 {
    font-size: 3rem;
  }
  #index .img {
    padding-bottom: 1rem;
    height: 426px;
    margin-left: 15%;
  }
  #index .img img {
    height: 100%;
    width: 80%;
    border-radius: 8px;
  }
  #index .newPromo {
    display: flex;
    flex-direction: column;
  }
  #index .newPromo .textoPromo {
    padding-bottom: 20px;
  }
  #index .newPromo .textoPromo h2 {
    text-align: center;
    font-size: 2.5rem;
  }
  #index .newPromo .promo {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 20px 0 20px;
  }
  #index .newPromo .carousel .carousel-inner .carousel-item {
    transition: 0.8s;
  }
  #index .newPromo .promo .promo1, #index .newPromo .promo .promo2, #index .newPromo .promo .promo3 {
    width: 200px;
    background-color: #f4a710;
    margin-bottom: 25px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }
  #index .newPromo .promo .promo1 .carousel .carousel-inner div img, #index .newPromo .promo .promo2 .carousel .carousel-inner div img, #index .newPromo .promo .promo3 .carousel .carousel-inner div img {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }
  #index .newPromo .promo .promo1 .textoPromo p, #index .newPromo .promo .promo2 .textoPromo p, #index .newPromo .promo .promo3 .textoPromo p {
    font-size: 1.75rem;
  }
  #index .newPromo .promo .textoPromo p span {
    display: block;
  }
  footer {
    height: 15px;
  }
}
/* mq home desktop*/
@media screen and (min-width: 1024px) {
  #index {
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 100%;
  }
  #index .portada {
    width: 100vw;
    justify-items: center;
  }
  #index .portada .texto {
    align-content: center;
    padding-top: 20px;
  }
  #index .texto h1 {
    font-size: 2rem;
  }
  #index .img {
    padding-left: 100px;
    padding-bottom: 10px;
    padding-top: 10px;
  }
  #index .img img {
    height: 800px;
    width: 90%;
    border-radius: 8px;
  }
  #index .newPromo {
    width: 30vw;
    height: 100vh;
  }
  #index .newPromo .textoPromo {
    padding-top: 25px;
  }
  #index .newPromo .promo {
    height: 100%;
    padding-right: 20px;
  }
  #index .newPromo .carousel div img {
    width: 50vw;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  #index .newPromo .carousel .carousel-inner .carousel-item {
    transition: 0.8s;
  }
  #index .newPromo .promo .promo1, #index .newPromo .promo .promo2, #index .newPromo .promo .promo3 {
    background-color: #f4a710;
    border-radius: 8px;
  }
  #index .newPromo .promo .textoPromo p span {
    display: inline;
  }
  #index .newPromo .promo .promo1 .carousel .carousel-inner div img, #index .newPromo .promo .promo2 .carousel .carousel-inner div img, #index .newPromo .promo .promo3 .carousel .carousel-inner div img {
    width: 100%;
  }
}
/*estilos de accesorios movil*/
#acc {
  background-color: #d7d8d8;
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 5px;
}

#acc .accesorio {
  padding: 10px 5px;
}

#acc .accesorio h1 {
  text-align: center;
}

#acc .ulAcc ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  list-style: none;
  justify-items: center;
  gap: 20px;
  padding-bottom: 10px;
}

#acc .ulAcc ul li a {
  text-decoration: none;
  color: black;
}

/*estilos de naruto*/
#acc #naruto .nombre {
  text-align: center;
}

#acc #naruto .grupo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 20px;
  gap: 30px;
  padding-bottom: 10px;
}

#acc #naruto .grupo .img {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

#acc #naruto .grupo .img img {
  width: 190px;
  height: 190px;
}

#acc #naruto .grupo .img .desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#acc #naruto .grupo .img .desc p {
  text-align: center;
  padding-right: 10px;
}

#acc #naruto .grupo .img .botton {
  display: flex;
  flex-direction: column;
}

#acc #naruto .grupo .img .botton .botton1 {
  display: inline-block;
  justify-items: center;
  padding: 5px;
  border-radius: 8px;
  background-color: #f4a710;
  font-size: 1rem;
  font-weight: bolder;
  margin-top: 5px;
  padding-left: 10px;
  margin-left: 5px;
  text-align: center;
}

#acc #naruto .grupo .img .botton .botton1 a, #acc #naruto .grupo .img .botton2 a {
  text-decoration: none;
  color: black;
}

#acc #naruto .grupo .img .botton2 {
  display: inline-block;
  justify-items: center;
  padding: 5px;
  font-size: 12px;
  border-radius: 8px;
  background-color: #FCFB44;
  font-size: 1rem;
  font-weight: bolder;
  margin-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 5px;
  text-align: center;
}

/*estilos para dbz*/
#acc #dbz .nombre {
  text-align: center;
}

#acc #dbz .grupo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 20px;
  gap: 30px;
  padding-bottom: 10px;
}

#acc #dbz .grupo .img {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

#acc #dbz .grupo .img img {
  width: 190px;
  height: 190px;
}

#acc #dbz .grupo .img .desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#acc #dbz .grupo .img .desc p {
  text-align: center;
  padding-right: 10px;
}

#acc #dbz .grupo .img .botton {
  display: flex;
  flex-direction: column;
}

#acc #dbz .grupo .img .botton .botton1 {
  display: inline-block;
  justify-items: center;
  padding: 5px;
  font-size: 12px;
  border-radius: 8px;
  background-color: #f4a710;
  font-size: 1rem;
  font-weight: bolder;
  margin-top: 5px;
  padding-left: 10px;
  margin-left: 5px;
  text-align: center;
}

#acc #dbz .grupo .img .botton .botton1 a, #acc #dbz .grupo .img .botton2 a {
  text-decoration: none;
  color: black;
}

#acc #dbz .grupo .img .botton2 {
  display: inline-block;
  justify-items: center;
  padding: 5px;
  font-size: 12px;
  border-radius: 8px;
  background-color: #FCFB44;
  font-size: 1rem;
  font-weight: bolder;
  margin-top: 5px;
  padding-left: 10px;
  margin-left: 5px;
  text-align: center;
}

/*mq accesorio tablet*/
@media screen and (min-width: 760px) {
  #acc #naruto, #acc #dbz {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    margin: 0 auto;
  }
  #acc #naruto .grupo, #acc #dbz .grupo {
    display: flex;
    flex-direction: row;
  }
  #acc #naruto .grupo .img, #acc #dbz .grupo .img {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
  }
  #acc #naruto .grupo .img img, #acc #dbz .grupo .img img {
    width: 30vw;
    height: 30vh;
  }
  #acc #naruto .grupo .nombre, #acc #dbz .grupo .nombre {
    text-align: center;
    align-content: center;
  }
}
/*estilo accesorio desktop*/
@media screen and (min-width: 1024px) {
  #acc {
    gap: 25px;
  }
  #acc .ulAcc {
    display: none;
  }
  #acc #naruto, #acc #dbz {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  #acc #naruto .grupo, #acc #dbz .grupo {
    display: flex;
    width: 100vw;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 100px 20px 100px;
  }
  #acc #naruto .grupo .img, #acc #dbz .grupo .img {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
  }
  #acc #naruto .grupo .img img, #acc #dbz .grupo .img img {
    width: 30vh;
    height: 30vh;
  }
  #acc #naruto .grupo .nombre, #acc #dbz .grupo .nombre {
    text-align: center;
    align-content: center;
  }
}
/* estilo de cartas*/
#cartas {
  display: flex;
  flex-direction: column;
  background-color: #d7d8d8;
  padding: 10px;
  gap: 5px;
}

#cartas .cartas {
  padding: 10px 5px;
}

#cartas .cartas h1 {
  text-align: center;
}

#cartas .ulCartas ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  list-style: none;
  justify-items: center;
  gap: 20px;
  padding-bottom: 10px;
}

#cartas .ulCartas ul li a {
  text-decoration: none;
  color: black;
}

#cartas .grupo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 20px;
  gap: 30px;
  padding-bottom: 10px;
}

#cartas .grupo .img {
  display: flex;
  flex-direction: column;
  justify-items: center;
  gap: 20px;
  padding-left: 10px;
}

#cartas .grupo .img img {
  width: 100%;
  height: 100%;
}

#cartas .grupo .img .desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#cartas .grupo .img .desc p {
  text-align: center;
  padding-right: 10px;
}

#cartas .grupo .img .botton {
  display: flex;
  flex-direction: column;
}

#cartas .grupo .img .botton .botton1 {
  display: inline-block;
  justify-items: center;
  padding: 5px;
  font-size: 12px;
  border-radius: 8px;
  background-color: #f4a710;
  font-size: 1rem;
  font-weight: bolder;
  margin-top: 5px;
  padding-left: 10px;
  margin-left: 5px;
  text-align: center;
}

#cartas .grupo .img .botton .botton1 a, #cartas .grupo .img .botton .botton2 a {
  text-decoration: none;
  color: black;
}

#cartas .grupo .img .botton .botton2 {
  display: inline-block;
  justify-items: center;
  padding: 5px;
  font-size: 12px;
  border-radius: 8px;
  background-color: #FCFB44;
  font-size: 1rem;
  font-weight: bolder;
  margin-top: 5px;
  padding-left: 10px;
  margin-left: 5px;
  text-align: center;
}

/* mq de cartas tablet*/
@media screen and (min-width: 760px) {
  #cartas .grupo .img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 20px;
  }
}
@media screen and (min-width: 1024px) {
  #cartas {
    gap: 25px;
  }
  #cartas .ulCartas {
    display: none;
  }
  #cartas .grupo {
    display: grid;
    grid-template-columns: 1fr 2fr;
    text-align: center;
    padding-bottom: 20px;
  }
  #cartas .grupo .cartas {
    text-align: center;
    align-content: center;
  }
  #cartas .grupo .img {
    align-items: center;
    font-size: 1rem;
  }
  #cartas .grupo .img img {
    width: 35vh;
  }
}
/* Estilo de clothing*/
#ropa {
  background-color: #d7d8d8;
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 5px;
}

#ropa .ropa {
  padding: 10px 5px;
}

#ropa .ropa h1 {
  text-align: center;
}

#ropa .ulRopa ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  list-style: none;
  justify-items: center;
  gap: 20px;
  padding-bottom: 10px;
}

#ropa .ulRopa ul li a {
  text-decoration: none;
  color: black;
}

#ropa .grupo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 20px;
  padding-bottom: 10px;
}

#ropa .grupo .img {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-items: center;
}

#ropa .grupo .img img {
  width: 100%;
  height: 100%;
}

#ropa .grupo .img .desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#ropa .grupo .img .desc p {
  text-align: center;
  padding-right: 10px;
}

#ropa .grupo .img .botton {
  display: flex;
  flex-direction: column;
}

#ropa .grupo .img .botton .botton1 {
  display: inline-block;
  justify-items: center;
  padding: 5px;
  font-size: 12px;
  border-radius: 8px;
  background-color: #f4a710;
  font-size: 1rem;
  font-weight: bolder;
  margin-top: 5px;
  padding-left: 10px;
  margin-left: 5px;
  text-align: center;
}

#ropa .grupo .img .botton .botton1 a, #ropa .grupo .img .botton .botton2 a {
  text-decoration: none;
  color: black;
}

#ropa .grupo .img .botton .botton2 {
  display: inline-block;
  justify-items: center;
  padding: 5px;
  font-size: 12px;
  border-radius: 8px;
  background-color: #FCFB44;
  font-size: 1rem;
  font-weight: bolder;
  margin-top: 5px;
  padding-left: 10px;
  margin-left: 5px;
  text-align: center;
}

@media screen and (min-width: 760px) {
  #ropa .grupo .img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 20px;
  }
}
@media screen and (min-width: 1024px) {
  #ropa {
    gap: 25px;
  }
  #ropa .ulRopa {
    display: none;
  }
  #ropa .grupo {
    display: flex;
    padding-bottom: 20px;
  }
  #ropa .grupo .nombre {
    text-align: center;
    align-content: center;
  }
  #ropa .grupo .img {
    align-items: center;
    font-size: 1.5rem;
  }
  #ropa .grupo .img img {
    width: 50vw;
  }
}
/*estilos de contactos*/
.titulo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10px;
  padding-top: 15px;
}

.grupo p {
  text-align: center;
  font-size: 20px;
}

#redes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  gap: 10px;
  padding-bottom: 10px;
}

#redes div a {
  text-decoration: none;
  color: black;
}

#redes .texto {
  grid-column: span 2;
  font-size: 20px;
}

.grupo #redes .whatsapp img {
  width: 30px;
}

.grupo #redes .facebook img {
  width: 30px;
}

.grupo #redes .instagram img {
  width: 30px;
}

.grupo #redes .telegram {
  grid-column: span 2;
}

.grupo #redes .telegram img {
  width: 30px;
}

.grupo #redes .tiktok img {
  width: 30px;
}

.grupo #redes .facebook img {
  width: 30px;
}

.map {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.map, texto {
  font-size: 20px;
}

/*mq de tablet en contactos*/
@media screen and (min-width: 767px) and (max-width: 1023px) {
  .contactos {
    height: 80vh;
    flex-wrap: wrap;
  }
  .contactos .grupo .map {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .contactos .grupo .map .texto {
    margin-top: 30px;
  }
  .contactos .grupo .map .texto p {
    font-size: 2rem;
  }
  .grupo .map .ubicacion iframe {
    height: 40vh;
    width: 70vh;
  }
  footer {
    height: 2.5vh;
  }
}
/*mq de desktop en contactos*/
@media screen and (min-width: 1024px) {
  .titulo {
    justify-items: center;
  }
  .grupo {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
  }
  .grupo p {
    text-align: center;
    font-size: 20px;
  }
  .grupo #redes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat 4, 1fr;
    gap: 5px;
  }
  .grupo #redes .whatsapp {
    grid-column: span 2;
  }
  .grupo #redes .telegram {
    grid-column: span 1;
  }
  .grupo .map {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    padding-top: 10px;
  }
  .grupo .map .texto {
    grid-column: span 2;
    justify-items: center;
    padding: 10px;
  }
  .grupo .map .ubicacion {
    grid-column: span 2;
  }
}

/*# sourceMappingURL=main.css.map */
