// import mixin
@import "../utilidades/mixin";

#index {
    @include flex;
}

#index .texto{
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}

#index .texto h1{
    font-size: $fontSM;
    text-align: center;
}

#index .img img{
    width: 100%;
    height: 380px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

#index .newPromo .textoPromo{
    text-align: center;
    padding-top: 10px;
}

#index .newPromo .textoPromo h2{
    font-size: $fontSM;
}

#index .newPromo .promo .promo1 .textoPromo, #index .newPromo .promo .promo2 .textoPromo, #index .newPromo .promo .promo3 .textoPromo{
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    background-color: $colorHF;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

#index .newPromo .promo .promo1 .textoPromo p, #index .newPromo .promo .promo2 .textoPromo p, #index .newPromo .promo .promo3 .textoPromo p{
    font-size: 1.25rem;
}



#index .newPromo .carousel div img{
    width: 100vw;
    height: 200px;
    border-radius: 8px;
}

#index .newPromo .carousel .carousel-inner .carousel-item{
    transition: 0.8s;
}


//mq contactos

/* mq tablet*/

@media screen and (min-width: 767px) and (max-width: 1023px) {
    header{
        height: 20vh;
    }

    #index .texto{
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    #index .texto h1{
        font-size: 3rem;
    }

    #index .img{
        padding-bottom: 1rem;
        height: 426px;
        margin-left: 15%;
    }

    #index .img img{
        height: 100%;
        width: 80%;
        border-radius: 8px;
    }

    #index .newPromo{
        display: flex;
        flex-direction: column;
    }

    #index .newPromo .textoPromo{
        padding-bottom: 20px;
    }
    #index .newPromo .textoPromo h2{
        text-align: center;
        font-size: 2.5rem;
    }

    #index .newPromo .promo{
        display: flex;
        width: 100%;
        justify-content: space-between;
        padding: 0 20px 0 20px;
    }

    #index .newPromo .carousel .carousel-inner .carousel-item{
        transition: 0.8s;
    }

    #index .newPromo .promo .promo1, #index .newPromo .promo .promo2, #index .newPromo .promo .promo3{
        width: 200px;
        background-color: $colorHF;
        margin-bottom: 25px;
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        }
    
        #index .newPromo .promo .promo1 .carousel .carousel-inner div img, #index .newPromo .promo .promo2 .carousel .carousel-inner div img, #index .newPromo .promo .promo3 .carousel .carousel-inner div img{
            border-top-left-radius: 12px;
            border-top-right-radius: 12px;
        }

    #index .newPromo .promo .promo1 .textoPromo p, #index .newPromo .promo .promo2 .textoPromo p, #index .newPromo .promo .promo3 .textoPromo p{
        font-size: 1.75rem;
    }

    #index .newPromo .promo .textoPromo p span{
        display: block;
    }
    

    footer{
        height: 15px;
    }
}


/* mq home desktop*/ 

@media screen and (min-width: 1024px){
    #index{
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        height: 100%;
    }

    #index .portada{
        width: 100vw;
        justify-items: center;
    }

    #index .portada .texto{
        align-content: center;
        padding-top: 20px;
    }

    #index .texto h1{
        font-size: 2rem;
    }

    #index .img{
        padding-left: 100px;
        padding-bottom: 10px;
        padding-top: 10px;
    }

    #index .img img{
        height: 800px;
        width: 90%;
        border-radius: 8px;
    }

    #index .newPromo{
        width: 30vw;
        height: 100vh;
    }

    #index .newPromo .textoPromo{
        padding-top: 25px;
    }

    #index .newPromo .promo{
        height: 100%;
        padding-right: 20px;
        
    }

    #index .newPromo .carousel div img{
        width: 50vw;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;

    }    

    #index .newPromo .carousel .carousel-inner .carousel-item{
        transition: 0.8s;
    }

    #index .newPromo .promo .promo1, #index .newPromo .promo .promo2, #index .newPromo .promo .promo3{
        background-color: $colorHF;
        border-radius: 8px;
        
    }

    #index .newPromo .promo .textoPromo p span{
        display: inline;
    }

    #index .newPromo .promo .promo1 .carousel .carousel-inner div img, #index .newPromo .promo .promo2 .carousel .carousel-inner div img, #index .newPromo .promo .promo3 .carousel .carousel-inner div img{
        width: 100%};
}
