//variables
@import "../utilidades/variables";

//mixin
@import "../utilidades/mixin";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo general*/

body {
    font-family: "Montserrat", sans-serif;
}

/* estilos de header*/

header{
    @include flex;
    background-color: $colorHF;
    align-items: center;
}

header .navbar{
    padding-bottom: 5px;}

header .navbar .container-fluid{
    @include flex;
    margin-bottom: 10px;
}

header nav div .logo img{
    width: 120px;
    height: 120px;
}

header nav div .colorFondo{
    text-align: center;
    }



header nav div div ul li{
    font-size: $fontH;
}



/* estilos de main*/

main{
    background-color: $colorBody;
}

footer {
    height: 30px;
    background-color: $colorHF;
    text-align: center;
    padding-top: 5px;
    font-size: $fontSF;}
    
//mq-header tablet

/*estilos de tablet para el header*/

@media screen and (min-width:760px){

    header{
    @include flex;
    background-color: $colorHF;
    align-items: center;
}

header .navbar{
    padding-bottom: 5px;}

header .navbar .container-fluid{
    @include flex;
    margin-bottom: 10px;
}

header nav div .logo img{
    width: 120px;
    height: 120px;
}

header nav div .colorFondo{
    text-align: center;
}

header .navbar .container-fluid .colorFondo ul{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: 10px auto;
    background-color: $colorHF;
}

header nav div div ul li{
    font-size: $fontH;
}
}

//mq-header desktop

/*estilos de desktop para el header*/

@media screen and (min-width: 1024px) {
    header .navbar .container-fluid{
        flex-direction: row;
        padding-right: 1rem;

    }

    header .navbar .container-fluid .colorFondo{
        background-color: $colorHF;
        text-align: center;
        border: none;
    }
}