// Variable de colores
$colorHF: #f4a710;
$colorBody: #d7d8d8;
$casheaC: #FCFB44;
$carritoC: #f4a710;

// tamaño de fuentes en header
$fontH: 1.5rem;

//tamaño de fuente en main
$fontSM: 1.5rem;

//fuente de botones
$fontB: 12px;

//tamaño de fuente en footer
$fontSF: 12px;
